ul.posts-list {
    color: #000;
    padding: 0;
}
ul.posts-list li {
    margin: 10px 0 20px 0;
    list-style-type: none;
}

ul.posts-list li p:first-child{
    color: red;
}
ul.posts-list a{
    color: #888805;
    font-weight: bold;
}