.authors ul{
    padding: 0;
    margin-left: 20px;
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 20px;
}
.authors ul a {
    color: #888805;
    font-weight: bold;
}